<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo es utilizado por el proceso de paquete/publicación de nuestro proyecto Web. Puede personalizar el comportamiento de este proceso
editando este archivo MSBuild. Para conocer más acerca de esto, visite http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://cutest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>cutest.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CUTest</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CUTest</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:oecodanmxq.database.windows.net,1433;Initial Catalog=ContosoUniversityDB;User ID=userCU@oecodanmxq;Password=zxASqw12" Name="Data Source=tcp:oecodanmxq.database.windows.net,1433;Initial Catalog=ContosoUniversityDB;User Id=userCU@oecodanmxq;Password=zxASqw12" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ContosoUniversity.Models.ApplicationDbContext, ContosoUniversity" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SchoolContext" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:oecodanmxq.database.windows.net,1433;Initial Catalog=ContosoUniversityDB;User ID=userCU@oecodanmxq;Password=zxASqw12" Name="Data Source=tcp:oecodanmxq.database.windows.net,1433;Initial Catalog=ContosoUniversityDB;User Id=userCU@oecodanmxq;Password=zxASqw12" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ContosoUniversity.DAL.SchoolContext, ContosoUniversity" MigrationConfiguration="ContosoUniversity.Migrations.Configuration, ContosoUniversity" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:oecodanmxq.database.windows.net,1433;Initial Catalog=ContosoUniversityDB;User Id=userCU@oecodanmxq;Password=zxASqw12</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SchoolContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:oecodanmxq.database.windows.net,1433;Initial Catalog=ContosoUniversityDB;User Id=userCU@oecodanmxq;Password=zxASqw12</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>